In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [29]:
botData = pd.read_csv('bot_bids.csv')
humData = pd.read_csv('hum_bids.csv')
trainData = pd.read_csv('train.csv')

In [24]:
botData.head(5)

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url
0,20,af9c96944265cf541b3fe734a057821a825l7,jtxiv,office equipment,phone19,9759243263157894,hr,144.100.75.92,vasstdc27m7nks3
1,36,52d8066e28f168e5bee769559ead307e1go7e,165y9,mobile,phone33,9759243315789473,us,240.205.85.43,azl6m5i5tg78c2j
2,47,46a28eaed47c29b4fd148a50cde44840u0bsn,5h9tv,mobile,phone44,9759243421052631,in,94.210.47.16,4efsnqzirqtxasm
3,55,b1863365ae232a316eb946ba56a29415m0gdz,c8cgg,home goods,phone4,9759243473684210,vn,208.207.224.110,vasstdc27m7nks3
4,107,e12177ff9c1a8413996f7b1a590980c82ofeo,fi8mh,sporting goods,phone81,9759243736842105,uk,91.53.170.204,457usxujudk2tc9

In [30]:
trainData.head(5)

,bidder_id,payment_account,address,outcome
0,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0
1,624f258b49e77713fc34034560f93fb3hu3jo,a3d2de7675556553a5f08e4c88d2c228v1sga,ae87054e5a97a8f840a3991d12611fdcrfbq3,0
2,1c5f4fc669099bfbfac515cd26997bd12ruaj,a3d2de7675556553a5f08e4c88d2c2280cybl,92520288b50f03907041887884ba49c0cl0pd,0
3,4bee9aba2abda51bf43d639013d6efe12iycd,51d80e233f7b6a7dfdee484a3c120f3b2ita8,4cb9717c8ad7e88a9a284989dd79b98dbevyi,0
4,4ab12bc61c82ddd9c2d65e60555808acqgos1,a3d2de7675556553a5f08e4c88d2c22857ddh,2a96c3ce94b3be921e0296097b88b56a7x1ji,0

In [201]:
#len(botData.index)
feature = 'url' #auction, merchandise, device, country, url
botUrl = botData.groupby(feature).count().sort('bid_id', ascending=False) / len(botData.index)
botUrl.head(10)

,bid_id,bidder_id,auction,merchandise,device,time,country,ip
url,,,,,,,,
vasstdc27m7nks3,0.708833,0.708833,0.708833,0.708833,0.708833,0.708833,0.708387,0.708833
lacduz3i6mjlfkd,0.004983,0.004983,0.004983,0.004983,0.004983,0.004983,0.004983,0.004983
rmdm1f1lak48s6g,0.003210,0.003210,0.003210,0.003210,0.003210,0.003210,0.003210,0.003210
4dd8ei0o5oqsua3,0.003164,0.003164,0.003164,0.003164,0.003164,0.003164,0.003164,0.003164
hzsvpefhf94rnlb,0.002272,0.002272,0.002272,0.002272,0.002272,0.002272,0.002272,0.002272
8golk6oetcgd6wm,0.001787,0.001787,0.001787,0.001787,0.001787,0.001787,0.001787,0.001787
ds6j090wqr4tmmf,0.001688,0.001688,0.001688,0.001688,0.001688,0.001688,0.001688,0.001688
41hbwy7lobmyerr,0.001591,0.001591,0.001591,0.001591,0.001591,0.001591,0.001581,0.001591
mp0g18rqmfrqctc,0.001530,0.001530,0.001530,0.001530,0.001530,0.001530,0.001530,0.001530
n7hs0kmoakimcyr,0.001220,0.001220,0.001220,0.001220,0.001220,0.001220,0.001220,0.001220

In [203]:
humUrl = humData.groupby(feature).count().sort('bid_id', ascending=False) / len(humData.index)
humUrl.head(10)

,bid_id,bidder_id,auction,merchandise,device,time,country,ip
url,,,,,,,,
vasstdc27m7nks3,0.471537,0.471537,0.471537,0.471537,0.471537,0.471537,0.471427,0.471537
7zyltxp0hh36vpp,0.005906,0.005906,0.005906,0.005906,0.005906,0.005906,0.005906,0.005906
q0skvht51258k93,0.003331,0.003331,0.003331,0.003331,0.003331,0.003331,0.003331,0.003331
96ky12gxeqflpwz,0.002808,0.002808,0.002808,0.002808,0.002808,0.002808,0.002808,0.002808
gavdutxwg0vi1gn,0.002395,0.002395,0.002395,0.002395,0.002395,0.002395,0.002395,0.002395
oqknoadbcbcm6so,0.002068,0.002068,0.002068,0.002068,0.002068,0.002068,0.002068,0.002068
fezw942t15um898,0.002052,0.002052,0.002052,0.002052,0.002052,0.002052,0.002052,0.002052
1bltvi87id7pau1,0.001746,0.001746,0.001746,0.001746,0.001746,0.001746,0.001746,0.001746
9tkl0aevixr0p4f,0.001575,0.001575,0.001575,0.001575,0.001575,0.001575,0.001575,0.001575
vfq2ojps7euhv04,0.001307,0.001307,0.001307,0.001307,0.001307,0.001307,0.001307,0.001307

In [141]:
from sets import Set

#analyze payment account
#payment = trainData.get(['payment_account', 'address', 'outcome']).values
paymentArr = np.array([])
addressArr = np.array([])
outcomeArr = np.array([])

paymentSet = Set({})
cutSize = 6

for elem in trainData.values:
    currPayment = elem[1]
    currPaymentCut = currPayment[0:len(currPayment)-cutSize]
    currAddr = elem[2]
    currAddrCut = currAddr[0:len(currAddr)-cutSize]
    classification = elem[3]
    paymentArr = np.append(paymentArr, currPaymentCut)
    addressArr = np.append(addressArr, currAddrCut)
    outcomeArr = np.append(outcomeArr, classification)

#convert to pandas dataframe        
filteredDF = pd.DataFrame({'payment_account':paymentArr, 'address':addressArr, 'outcome': outcomeArr})
filteredDF.head(5)

                           address  outcome                  payment_account
0  a3d2de7675556553a5f08e4c88d2c22        0  a3d2de7675556553a5f08e4c88d2c22
1  ae87054e5a97a8f840a3991d12611fd        0  a3d2de7675556553a5f08e4c88d2c22
2  92520288b50f03907041887884ba49c        0  a3d2de7675556553a5f08e4c88d2c22
3  4cb9717c8ad7e88a9a284989dd79b98        0  51d80e233f7b6a7dfdee484a3c120f3
4  2a96c3ce94b3be921e0296097b88b56        0  a3d2de7675556553a5f08e4c88d2c22

In [142]:
payCntDF = filteredDF.groupby('payment_account').count()
paySumDF = filteredDF.groupby('payment_account').sum()

In [143]:
payCntDF.sort('outcome', ascending=False).head(15)

                                 address  outcome
payment_account
a3d2de7675556553a5f08e4c88d2c22     1063     1063
3e9073fb9219ceb4a1dc9dbb9e1acbe       12       12
c9ef8f9c82a24602bca4f1fc4e69fd6       10       10
a0dc95936282ff8eef7ffa54f295255        5        5
dab1ae58a15b808c63d8dfcf734f5ee        4        4
c9274731b884ef7495041d62d4ec512        4        4
474f441d0c8f8416be60291872926cd        4        4
f2cc650fedae4d52095dcc1782e45a3        4        4
0f244480cd73688fab682a82aa37a58        4        4
bb97065ca7b313ebbee43f495d6f67a        4        4
05fa32014c5721cbc5ae1a6cea5fbbb        3        3
11ee538f71128e0c71f931c626761eb        3        3
17561e2b883803611f0db070f9e9362        3        3
af6c260faf0b9df48f2155e38b0a29e        3        3
0875307e1731af94b3b64725ad0deb7        3        3

In [144]:
paySumDF.sort('outcome', ascending=False).head(15)
#hum: a3d2de7675556553a5f08e4c88d2c22
#almost hum: 3e9073fb9219ceb4a1dc9dbb9e1acbe(85%), c9ef8f9c82a24602bca4f1fc4e69fd6
#bot: 0875307e1731af94b3b64725ad0deb7

                                 outcome
payment_account
a3d2de7675556553a5f08e4c88d2c22       50
0875307e1731af94b3b64725ad0deb7        3
05c67ba7faaefff08b0a3c97742f1bc        2
3e9073fb9219ceb4a1dc9dbb9e1acbe        2
b0a4197bc483e81400b84d4d5ada833        2
9366947fbdda1fc29952043326a70b0        1
6df06b66c0600f52e7f329d705df788        1
af534356af7f7602c9ab15b1c161a1b        1
54cf9c178fdb469a6d94b1616453157        1
d3b5ec1bba87fdb7c329d5ae977ef42        1
534d572dcc751022993edf4199ee5f1        1
22cdb26663f071c00de61cc2dcde7b5        1
ee20219e9d6b897b115119011ce3d9f        1
91ae3077e1c8f38fdbbac9480eebecd        1
39ef2afbc0cde265550cafb40eb3fd8        1

In [145]:
addrCntDF = filteredDF.groupby('address').count()
addrSumDF = filteredDF.groupby('address').sum()

In [146]:
addrCntDF.sort('outcome', ascending=False).head(15)

                                 outcome  payment_account
address
a3d2de7675556553a5f08e4c88d2c22      356              356
2a96c3ce94b3be921e0296097b88b56       29               29
794abfcfc9a51569c6415a61a319b35       22               22
4d90f2e709f1fc0810e5aef472dd393       11               11
ca8d4b018cb62966eebb2974f5a83b4       10               10
c94cf5c3c5205afe0ef14ce669e0156        8                8
3a7e6a32b24aeab0688e91a41f3188e        7                7
2367520c8d94e70f47f4e28e72004ef        7                7
3a0b8057e5a900d872232c62a7f4c12        7                7
b312117de5aeb80a49c753f562c4b2d        7                7
5c9de1da50cc32a29ffd596ae24cd2b        7                7
fb5f20b04f48113f484f73988d44a09        6                6
e048f5d50823df461686fde13a25d28        6                6
91ea8f05b2be1f7fe36e86e20ea3510        6                6
3ee4b535441c1b35d3f9aa3f7ed5ab8        5                5

In [147]:
addrSumDF.sort('outcome', ascending=False).head(15)
#hum: a3d2de7675556553a5f08e4c88d2c22, 2a96c3ce94b3be921e0296097b88b56
#almost hum: 794abfcfc9a51569c6415a61a319b35, 4d90f2e709f1fc0810e5aef472dd393, 2367520c8d94e70f47f4e28e72004ef
#40% bot: ca8d4b018cb62966eebb2974f5a83b4

                                 outcome
address
a3d2de7675556553a5f08e4c88d2c22       12
ca8d4b018cb62966eebb2974f5a83b4        4
eff9d6ada4c268930ee05a81ec4e9eb        2
4d90f2e709f1fc0810e5aef472dd393        2
794abfcfc9a51569c6415a61a319b35        2
a2a2a1ecfb13cf2887112223ba506a8        1
2367520c8d94e70f47f4e28e72004ef        1
db147bf6056d00428b1bbf250c6e975        1
dc465fb916d7cab3c086ebbcdcc1ed1        1
270a9d13178693751b9e3cce3d7d425        1
9c584eb89824bca6f66b93b30db1984        1
dee44a87c5db48c9f6ca23e37d6f610        1
1eb2976fca8a5bee9a95d7252e3ce7b        1
6876549ce8193a2e92a84a50141701c        1
e23d9777cddc347de82d839b2e54b22        1

In [200]:
humData.query('bidder_id == "7bb914fcdec49aa88c7310a3dda716aa9fb8t"').groupby('merchandise').count()

             bid_id  bidder_id  auction  device  time  country  ip  url
merchandise
jewelry           7          7        7       7     7        7   7    7

In [ ]:
#cubist in APM for addresses
#decision tree handles string, too
#(check classifiers in APM)
#ch16 class imbalance
#try weka